body h1, body h2, body h3, body h4, body h5, body h6, body strong {
  font-weight: 700; }
  body h1.thin, body h2.thin, body h3.thin, body h4.thin, body h5.thin, body h6.thin, body strong.thin {
    font-weight: 300; }

@media (min-width: 20em) and (max-width: 40em) {
  body {
    line-height: calc( 1.1em + 0.3 * ( ( 100vw - 20em) / 20 ) ); } }
@media (min-width: 40em) {
  body {
    line-height: 1.4em; } }
h1, h2, h3, h4, h5 {
  line-height: 1;
  margin: 0; }

h1 {
  font-size: 1.4641em; }

@media (min-width: 20em) and (max-width: 60em) {
  h1 {
    font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h1 {
    font-size: 3.15733em; } }
h2 {
  font-size: 1.331em; }

@media (min-width: 20em) and (max-width: 60em) {
  h2 {
    font-size: calc( 1.331em + 1.03759 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h2 {
    font-size: 2.36859em; } }
h3 {
  font-size: 1.21em; }

@media (min-width: 20em) and (max-width: 60em) {
  h3 {
    font-size: calc( 1.21em + 0.56689 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h3 {
    font-size: 1.77689em; } }
h4 {
  font-size: 1.1em; }

@media (min-width: 20em) and (max-width: 60em) {
  h4 {
    font-size: calc( 1.1em + 0.233 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h4 {
    font-size: 1.333em; } }
h5 {
  font-size: 1em; }

@media (min-width: 20em) and (max-width: 60em) {
  h5 {
    font-size: calc( 1em + 0 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h5 {
    font-size: 1em; } }
.text-center {
  text-align: center; }

.thin {
  font-weight: 300; }

.uppercase {
  text-transform: uppercase; }

.img-as-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .img-as-bg.cover {
    background-size: cover !important; }
  .img-as-bg.top {
    background-position: 50% 0%; }
  .img-as-bg.bottom {
    background-position: 50% 100%; }

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap; }

body h1, body h2, body h3, body h4, body h5, body h6, body strong {
  font-weight: 700; }
  body h1.thin, body h2.thin, body h3.thin, body h4.thin, body h5.thin, body h6.thin, body strong.thin {
    font-weight: 300; }
body h5, body h6 {
  text-transform: uppercase; }

@media (min-width: 20em) and (max-width: 40em) {
  body {
    line-height: calc( 1.1em + 0.3 * ( ( 100vw - 20em) / 20 ) ); } }
@media (min-width: 40em) {
  body {
    line-height: 1.4em; } }
h1, h2, h3, h4, h5 {
  line-height: 1;
  margin: 0; }

h1 {
  font-size: 1.4641em; }

@media (min-width: 20em) and (max-width: 60em) {
  h1 {
    font-size: calc( 1.4641em + 1.69323 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h1 {
    font-size: 3.15733em; } }
h2 {
  font-size: 1.331em; }

@media (min-width: 20em) and (max-width: 60em) {
  h2 {
    font-size: calc( 1.331em + 1.03759 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h2 {
    font-size: 2.36859em; } }
h3 {
  font-size: 1.21em; }

@media (min-width: 20em) and (max-width: 60em) {
  h3 {
    font-size: calc( 1.21em + 0.56689 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h3 {
    font-size: 1.77689em; } }
h4 {
  font-size: 1.1em; }

@media (min-width: 20em) and (max-width: 60em) {
  h4 {
    font-size: calc( 1.1em + 0.233 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h4 {
    font-size: 1.333em; } }
h5 {
  font-size: 1em; }

@media (min-width: 20em) and (max-width: 60em) {
  h5 {
    font-size: calc( 1em + 0 * ( ( 100vw - 20em) / 40 ) ); } }
@media (min-width: 60em) {
  h5 {
    font-size: 1em; } }
.text-center {
  text-align: center; }

.thin {
  font-weight: 300; }

.uppercase {
  text-transform: uppercase; }

.margin-rm-all,
.margin-rm-vertical,
.margin-rm-top {
  margin-top: 0 !important; }

.margin-rm-all,
.margin-rm-vertical,
.margin-rm-bottom {
  margin-bottom: 0 !important; }

.margin-rm-all,
.margin-rm-horizontal,
.margin-rm-right {
  margin-right: 0 !important; }

.margin-rm-all,
.margin-rm-vertical,
.margin-rm-left {
  margin-left: 0 !important; }

.padding-rm-all,
.padding-rm-vertical,
.padding-rm-top {
  padding-top: 0 !important; }

.padding-rm-all,
.padding-rm-vertical,
.padding-rm-bottom {
  padding-bottom: 0 !important; }

.padding-rm-all,
.padding-rm-horizontal,
.padding-rm-right {
  padding-right: 0 !important; }

.padding-rm-all,
.padding-rm-vertical,
.padding-rm-left {
  padding-left: 0 !important; }

.border-rm-all,
.border-rm-vertical,
.border-rm-top {
  border-top: none !important; }

.border-rm-all,
.border-rm-horizontal,
.border-rm-right {
  border-right: none !important; }

.border-rm-all,
.border-rm-vertical,
.border-rm-bottom {
  border-bottom: none !important; }

.border-rm-all,
.border-rm-horizontal,
.border-rm-left {
  border-left: none !important; }

/*# sourceMappingURL=helpers.css.map */
