.counter {
    border-left: 1px dotted $black;
}

    .level-item {
        // max-width: 20%;
        background-color: #FFF;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    .content {

        .counter {
            .counter-units {
                margin-bottom: 0px;
            }
            .counter-number {
                font-family: 'nowaylight';
                font-size: $h2Size;
                margin: 0px;
            }
            .counter-entity {
                margin-bottom: 10px;
                font-family: 'nowaymedium';
                // font-family: 'noway_regularitalic';
            }
            .counter-link {
            }
        }
    }
