


.level {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    .level-item {
        max-width: 25%;
        &.counter {
            * {
                margin: 0px;
            }
            .counter-units {
                font-family: 'nowaymedium';
            }
            .counter-number {
                font-family: 'nowaylight';
                font-size: $h2Size;
            }
            .counter-entity {
                font-size: 14px;
                font-family: 'noway_regularitalic';
            }
        }
    }
}