#timeline {
    .vis-time-axis {
        .vis-text {
            font-size: 10px;
            font-weight: 300;
        }
    }
    .vis-item-content {
        font-size: 10px;
    }
}

.tick {
    text {}
}

.vis-time-axis .vis-grid.vis-minor {
    border: none;
}

.vis-dot {
    display: none;
}

.vis-timeline {
    border: none;
}

.vis-item {
    border-color: #CCC;
    &.vis-box {
        border: none;
        border-radius: 0px;
        background: transparent !important;
    }
    &.vis-background {
        background: transparent;
        .vis-item-content {
            padding-top: 5px;
        } // background-color: rgba(200,0,0,.1);
        // &.negative {
        //   background-color: rgba(200,0,0,.2);
        // }
    }
    .vis-item-content {
        cursor: hand;
        cursor: pointer;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
}



.album-thumbnail {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
}

div.vis-tooltip {
    font-size: 12px;
    font-weight: 400;
    border-radius: 0px;
    background-color: #FFF;
    font-family: 'nowayregular', sans-serif;
}

.button,
.axis text {
    font-size: 9px;
    fill: rgba(255, 255, 255, .5);
}

.axis path,
.axis line {
    fill: none;
    stroke: rgba(255, 255, 255, .5);
    shape-rendering: crispEdges;
}

.timeline-chart {

    padding-top: 0px;
}