@import "../fonts/Noway-Bold-webfont/stylesheet.css";
@import "../fonts/Noway-Medium-webfont/stylesheet.css";
@import "../fonts/Noway-Regular-webfont/stylesheet.css";
@import "../fonts/Noway-Light-webfont/stylesheet.css";
@import "../fonts/Noway-Regular-Italic-webfont/stylesheet.css";
@import "../fonts/Noway-Medium-Italic-webfont/stylesheet.css";


/*----------  Based on http://type-scale.com/ Perfect 5  ----------*/

html {font-size: 0.625em;}

$h1Size: 5.063em;
$h2Size: 3.375em;;

body {
  background-color: white;
  font-family: 'nowayregular', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  .content {
    a {
      color: $bsides;
    }
    p {margin-bottom: 1.3em;}

    h1, h2, h3, h4 {
      margin: 1.414em 0 0.5em;
      font-weight: inherit;
      line-height: 1.2;
    }

    h1 {
      margin-top: 0;
      font-size: $h1Size;
    }

    h2 {font-size: $h2Size;}

    h3 {font-size: 2.25em;}

    h4 {font-size: 1.5em;}
    
    h5 {
      font-size: 0.5em;
    }
    h6 {
      font-size: 0.8em;
    }
    h5, h6 {
      text-transform: uppercase;
    }

    small, .font_small {font-size: 0.667em;}
  }
}


/*==============================
=            Charts            =
==============================*/

.bar-chart-label {
    font-family: 'nowayregular', sans-serif;
    font-size: 12px;
    cursor: hand;
    cursor: pointer;
    opacity: .8;
    font-style: italic;
    &.link {
        fill: $bsides;
        &:hover {
            opacity: 1;
        }
    }
}



/*=====  End of Charts  ======*/

.level {
    .level-item {}
}