/*----------  Based on http://type-scale.com/ Perfect 5  ----------*/

html {
}

body {
    color: $black;
    // Smooth text
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

.viz {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto Condensed', sans-serif;
	}
	p {
		font-family: 'Roboto Condensed', sans-serif;
	}
}

small,
.font_small {
    font-size: 0.667rem;
}



/*==============================
=            Charts            =
==============================*/

.bar-chart-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: hand;
    cursor: pointer;
    opacity: .8;
    font-style: italic;
    &.link {
        fill: $bsides;
        &:hover {
            opacity: 1;
        }
    }
}



/*=====  End of Charts  ======*/