
// @import "../bower_components/bootstrap/scss/variables";
@import "mixins";


/*==============================
=            Colors            =
==============================*/

$black: #070707;

/*----------  Custom by project  ----------*/

$bsides: #600;
$primary: #600;

/*=====  End of Colors  ======*/

/*==================================
=            Font sizes            =
==================================*/



/*=====  End of Font sizes  ======*/


$inside-circle: 60%;
$inside-circle-factor: 1.18;

$base-layout: 100vw;
$responsive-gap: 15px;
$label-size: 2vh;
$radial-factor: 1.75;
