// @import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import
  "../mixins",
  "../variables";

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    &.section-treemap {}
    &.section-radial {
        background-color: rgba(200,200,200,.75);
    }
}

#covers-treemap {
    padding: 0px;
    width: 100%;
}

.close-radial {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    z-index: 200;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    color: rgba(0,0,0,.75);
    &:hover {
        color: rgba(0,0,0,1);
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: auto;
    position: relative;
    overflow: hidden;
}

circle {
    fill: none;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}

.row {
    height: 100%;
}

#covers-bowie {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0px;
    /*background-image: url(images/record-bg.png);*/
    /*padding: 20px;*/
}

#covers-bowie svg {
    position: relative;
    z-index: 1;
}

$inside-circle: 60%;
$inside-circle-factor: 1.18;
#covers-bowie {
    text-align: center;
    svg {
        display: inline-block;
    }
    .record {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: 2px solid rgba(0,0,0,.50);
        &:before {
            content: "";
            position: absolute;
            background-color: rgba(255,255,255,.75);
            top: (100% - $inside-circle / $inside-circle-factor) / 2;
            left: (100% - $inside-circle / $inside-circle-factor) / 2;
            width: $inside-circle / $inside-circle-factor;
            height: $inside-circle / $inside-circle-factor;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid rgba(0,0,0,.50);
        }
    }
}



#covers {
    background-size: cover;
    background-position: 50% 50%;
}

#covers > div {
    position: relative;
}

#covers > div svg {
    position: relative;
    z-index: 1;
}

#covers .record {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin-left: -25%;
    height: 90%;
    margin-top: -25%;
    z-index: 0;
}
#covers-treemap {
    .node {
        border: solid 1px white;
        overflow: hidden;
        position: absolute;
        background-size: cover;
        background-position: 50% 50%;
        cursor: pointer;
        div {
            font-size: 48px;
            text-align: center;
            font-weight: 700;
            color: rgba(255, 255, 255, .75);
            text-shadow: 1px 0px 0px rgba(0, 0, 0, .1), -1px 0px 0px rgba(0, 0, 0, .1), 0px 1px 0px rgba(0, 0, 0, .1), 0px -1px 0px rgba(0, 0, 0, .1);
        }
        &:hover div {
            background-color: #fff;
            color: #000;
            height: 100%;
        }
    }
}


.node {
    text {
        font-weight: 600;
        &.record {
            font-size: 11px;
            cursor: default;
        }
        &.artist {
            cursor: pointer;
            font-size: 9px;
            opacity: .5;
            &:hover {
                opacity: 1;
                font-size: 11px;
            }
        }
    }
}

.no-link {
    fill: none;
}

.link {
    fill: none;
    stroke-width: 1px;
}

#right-container {
    display: none;
}

#center-container {
    width: 800px;
}

#infovis {
    width: 800px;
}

.node {
    color: #fff;
    font-size: 9px;
    overflow: hidden;
}


/*TOOLTIPS*/

.tip {
    color: #fff;
    width: 139px;
    background-color: black;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 7px;
}

.album {
    width: 100px;
    margin: 3px;
}

#id-list {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    margin: 10px 20px 0 20px;
    padding: 5px;
    text-align: left;
    text-indent: 2px;
}

#id-list table {
    margin-top: 2px;
}

#back {
    margin: 10px 40px;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px / 100% Arial, Helvetica, sans-serif;
    padding: 0.5em 1em 0.55em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}



